# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/tmp
**/out-tsc
**/docker

# dependencies
**/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.vscode/
.graphqlconfig
/.docker

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
*.xlf
**/logs/

# e2e
/e2e/*.js
/e2e/*.map

apps/**/*.js
apps/**/*.js.map

# System Files
.DS_Store
Thumbs.db

.nyc_output

# Cucumber reports
/acceptance/reports/cucumber_report.html
/acceptance/reports/cucumber_report.json
